1. In the below elements which of them are values or an expression? eg:- values can beinteger or string and expressions will be mathematical operators.*, 'hello', -87.8, -, /, +, 6

Answer : Value : 'Hello', -87.8, 6 Expression: *, -, /, +.

2. What is the difference between string and variable?

Answer : Variable is to store any information and string is the type of information.

3. Describe three different data types.

Answer : three data type in Python are - int, str, float.

4. What is an expression made up of? What do all expressions do?

Answer : Combination of values and operators to perform an operation is called as expression.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer : An expression refers to a single value, a statment does not refer to a single value.

6. After running the following code, what does the variable bacon contain? bacon = 22, bacon + 1 

Answer : The variable bacon contains the same value as the expression 'bacon + 1' was not assigned to the variable.

7. What should the values of the following two terms be?

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Answer : egg is valid variable as we will be able to assign a value to it whereas we cannot assign a value to a number.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer : Funtion to get an interger is int(), for floating point number float() and to get a string is str().

10. Why does this expression cause an error? How can you fix it? 'I have eaten' + 99 + 'burritos'.

Answer : The expression 'I have eaten ' + 99 + ' burritos.' will cause an error as the expression contains value of different data types. That is, expression will work only if in case of all data types are same.

In [5]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str